@using UKHO.MaritimeSafetyInformation.Common.Models.RadioNavigationalWarning
@model RadioNavigationalWarningsAdminFilter

@{
    bool isFirstPage = Model.CurrentPageIndex == 1;
    bool isLastPage = Model.CurrentPageIndex == Model.PageCount;
    ViewData["Title"] = "Radio Navigational Warnings Admin List";
}

@section Scripts {
    <script type="text/javascript" src="~/js/Custom/RadioNavigationalWarnings-admin.js" asp-append-version="true"></script>
}

<div class="container-fluid">
    <h1 id="headingLevelOne" class="mt-0">Radio Navigational Warnings Admin List</h1>
    <div class="row">
        <div class="col-md-auto mb-3">
            <label class="form-label" for="WarningType">Warning Type</label>
            @Html.DropDownListFor(model => model.WarningType,ViewBag.WarningTypes as SelectList,"Select Warning Type", new { @class = "form-select" } )
        </div>
        <div class="col-md-auto mb-3">
            <label class="form-label" for="Year">Year</label>
            @Html.DropDownListFor(model => model.Year,ViewBag.Years as SelectList,"Select Year",  new { @class = "form-select" } )
        </div>
        <div class="col-md-auto mb-3">
            <button id="BtnFilter" type="button" class="primary inline-btn">Filter</button>
        </div>
        <div class="col mb-3">
            @Html.ActionLink("Create New Warning","Create","RadioNavigationalWarningsAdmin",null,new { @class= "inline-link" ,@id="BtnCreate"})
        </div>
    </div>

    @if (Model.RadioNavigationalWarningsAdminList.Count != 0 && Model.RadioNavigationalWarningsAdminList != null)
    {

        <div class="table-responsive-md">
            <table class="table rnw-list-table">
                <thead>
                    <tr>
                        <th class="th-1">
                            Sr No.
                        </th>
                        <th class="th-2">
                            @Html.DisplayNameFor(model => model.RadioNavigationalWarningsAdminList.FirstOrDefault().WarningTypeName)
                        </th>
                        <th class="th-3">
                            @Html.DisplayNameFor(model => model.RadioNavigationalWarningsAdminList.FirstOrDefault().Reference)
                        </th>
                        <th class="th-4">
                            @Html.DisplayNameFor(model => model.RadioNavigationalWarningsAdminList.FirstOrDefault().DateTimeGroupRnwFormat)
                        </th>
                        <th class="th-5">
                            @Html.DisplayNameFor(model => model.RadioNavigationalWarningsAdminList.FirstOrDefault().Summary)
                        </th>
                        <th class="th-6">
                            @Html.DisplayNameFor(model => model.RadioNavigationalWarningsAdminList.FirstOrDefault().Content)
                        </th>
                        <th class="th-7">
                            @Html.DisplayNameFor(model => model.RadioNavigationalWarningsAdminList.FirstOrDefault().ExpiryDateRnwFormat)
                        </th>
                        <th class="th-8">
                            @Html.DisplayNameFor(model => model.RadioNavigationalWarningsAdminList.FirstOrDefault().Status)
                        </th>
                        <th class="th-9">
                            <span class="visually-hidden">Action</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.RadioNavigationalWarningsAdminList)
                    {
                        ++@Model.SrNo;
                        <tr>
                            <td id="SrNo_@Model.SrNo">
                                @Model.SrNo.ToString()
                            </td>
                            <td id="WarningTypeName_@Model.SrNo">
                                @Html.DisplayFor(modelItem => item.WarningTypeName)
                            </td>
                            <td id="Reference_@Model.SrNo">
                                @Html.DisplayFor(modelItem => item.Reference)
                            </td>
                            <td id="DateTimeGroupRnwFormat_@Model.SrNo">
                                @Html.DisplayFor(modelItem => item.DateTimeGroupRnwFormat)
                            </td>
                            <td id="Summary_@Model.SrNo">
                                @Html.DisplayFor(modelItem => item.Summary)
                            </td>
                            <td id="Content_@Model.SrNo">
                                @Html.DisplayFor(modelItem => item.Content)
                            </td>
                            <td id="ExpiryDateRnwFormat_@Model.SrNo">
                                @Html.DisplayFor(modelItem => item.ExpiryDateRnwFormat)
                            </td>
                            <td id="Status_@Model.SrNo">
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td id="Edit_@Model.SrNo">
                                <a asp-action="Edit" asp-route-id="@item.Id" id="Edit_@item.Id">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div>
            <ul class="pagination">
                @Html.Hidden("firstPageValueId", 1)
                @Html.Hidden("previousPageValueId", Model.CurrentPageIndex - 1)
                @Html.Hidden("nextPageValueId", Model.CurrentPageIndex + 1)
                @Html.Hidden("lastPageValueId", Model.PageCount)
                <li class="page-item  @(isFirstPage ? "disabled" : "")"><a id="BtnFirst" class="page-link" tabindex="@(isFirstPage ? "-1" : "0")" role="button">First</a></li>
                <li class="page-item  @(isFirstPage ? "disabled" : "")"><a id="BtnPrevious" class="page-link" tabindex="@(isFirstPage ? "-1" : "0")" role="button">Previous</a></li>
                <li class="page-item  @(isLastPage ? "disabled" : "")"><a id="BtnNext" class="page-link" tabindex="@(isLastPage ? "-1" : "0")" role="button">Next</a></li>
                <li class="page-item  @(isLastPage ? "disabled" : "")"><a id="BtnLast" class="page-link" tabindex="@(isLastPage ? "-1" : "0")" role="button">Last</a></li>
            </ul>
            <div>
                Page @Model.CurrentPageIndex of @Model.PageCount
            </div>
        </div>
    }
    else
    {
        <div id="MsgBoxAlert" class="alert alert-primary p-4" role="alert">
            <i class="bi bi-exclamation-circle-fill" aria-hidden="true"></i>
            <div class="alert-head">No Record Found.</div>
        </div>
    }
</div>
@{
    if (TempData["message"] != null) {
        <script type="text/javascript" nws-csp-add-nonce="true">
            alert(@Html.Raw(Json.Serialize(TempData["message"])));
        </script>
    }
}
