@model UKHO.MaritimeSafetyInformation.Common.Models.DTO.RadioNavigationalWarnings

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RadioNavigationalWarnings</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarningType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarningType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
