@model IEnumerable<UKHO.MaritimeSafetyInformation.Common.Models.RadioNavigationalWarning.RadioNavigationalWarningsData>

@{
    Layout = "~/Views/Shared/_MSILayout.cshtml";
}

@{
    ViewData["Header"] = "Radio Navigation Warnings";
}

<div id="rnwInfo" class="alert alert-primary p-4" role="alert">
    <i class="bi bi-exclamation-circle-fill" aria-hidden="true"></i>
    <div class="alert-head">Important information</div>
    <p>The following NAVAREA 1 and UK Coastal Warnings (WZs) were in force at: 141009 UTC April 22</p>
</div>

<!--tabs-->
<ul class="nav nav-tabs msi-tabs" id="rnwTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="allwarnings-tab" data-bs-toggle="tab" data-bs-target="#allwarnings" type="button" role="tab" aria-controls="allwarnings" aria-selected="true">All warnings</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="NAVAREA1-tab" data-bs-toggle="tab" data-bs-target="#NAVAREA1" type="button" role="tab" aria-controls="NAVAREA1" aria-selected="false" tabindex="-1">NAVAREA 1</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="ukcostal-tab" data-bs-toggle="tab" data-bs-target="#ukcostal" type="button" role="tab" aria-controls="ukcostal" aria-selected="false" tabindex="-1">UK Costal</button>
    </li>
</ul>
<div class="tab-content" id="nmTabContent">
    <div class="tab-pane fade show active" id="allwarnings" role="tabpanel" aria-labelledby="allwarnings-tab">
        <div class="table-responsive-md">
            <table class="table table-scroll small-first-col">
                <caption class='hidden-caption'>Radio Navigation Warnings All warnings</caption>
                <thead>
                    <tr>
                        <th style="width:110px">
                            @Html.DisplayNameFor(model => model.Reference)
                        </th>
                        <th style="width:200px">
                            @Html.DisplayNameFor(model => model.DateTimeGroup)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                         <th style="width:100px">
                            @Html.ActionLink("Select All", "View details", new { /* id=item.PrimaryKey */ })
                        </th>
                        <th style="width:80px">
                            Select
                        </th>
                    </tr>
                </thead>
                <tbody class="scroll-content scroll-bar">
                    @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reference)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateTimeGroup)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.ActionLink("View details", "View details", new { /* id=item.PrimaryKey */ })
                            </td>
                            <td>
                                <input type="checkbox" name="name2" class="form-check-input" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>        
    </div>
    <div class="tab-pane fade" id="NAVAREA1" role="tabpanel" aria-labelledby="NAVAREA1-tab">
        NAVAREA 1
    </div>
    <div class="tab-pane fade" id="ukcostal" role="tabpanel" aria-labelledby="ukcostal-tab">
        UK Costal
    </div>
</div>
