@model IEnumerable<UKHO.MaritimeSafetyInformation.Common.Models.RadioNavigationalWarning.RadioNavigationalWarningsData>

@{
    Layout = "~/Views/Shared/_MSILayout.cshtml";
    ViewData["Header"] = "Radio Navigation Warnings";
    ViewData["Title"] = "Radio Navigation Warnings";
}

@section Scripts
{
<script type="text/javascript" src="@Url.Content("~/js/Custom/RadioNavigationalWarnings.js")"></script>
}

<partial name="_RNWHorizontalTab" />
@if (ViewBag.HasError)
{
    <partial name="_Error" />
}
else
{
    <div class="tab-content" id="rnwTabContent">
        <div class="tab-pane fade show active" id="allwarnings" role="tabpanel" aria-labelledby="allwarnings-tab">
            <div class="table-responsive-md">
                <table class="table table-scroll small-first-col rnw-allwarnings-table">
                    <caption class="visually-hidden" id="rnwTableCaption" tabindex="-1">All warnings</caption>
                    <thead>
                        <tr>
                            <th class="th-1" role="cell">
                                @Html.DisplayNameFor(model => model.Reference)
                            </th>
                            <th class="th-2" role="cell">
                                @Html.DisplayNameFor(model => model.DateTimeGroupRnwFormat)
                            </th>
                            <th role="cell">
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th class="th-4 justify-content-center" role="cell">
                                <input type="button" id="select_button" class="select-all-button" value="Select all" onClick="do_Selection()" />
                            </th>
                            <th class="th-5 justify-content-center" role="cell">
                                Select
                            </th>
                        </tr>
                    </thead>
                    <tbody class="scroll-content scroll-bar accordianTable" id="accordionAllwarning" tabindex="-1">
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model)
                        {
                            <tr class="@Html.DisplayFor(modelItem => item.WarningType[0])">
                                <td id="Id_@i" class="td-1" style="display:none">
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td id="Reference_@i" class="td-1">
                                    @Html.DisplayFor(modelItem => item.Reference)
                                </td>
                                <td id="DateTimeGroupRnwFormat_@i" class="td-2">
                                    @Html.DisplayFor(modelItem => item.DateTimeGroupRnwFormat)
                                </td>
                                <td id="Description_@i">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td id="Viewdetails_@i" class="td-4 justify-content-center">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@i" aria-expanded="false" aria-controls="collapse_@i">
                                        <span class="visually-hidden">@Html.DisplayNameFor(model => model.Reference) for @Html.DisplayFor(modelItem => item.Reference)</span>
                                        <span class="view_details">View details </span>
                                    </button>
                                </td>
                                <td id="checkbox_@i" class="td-5 justify-content-center">
                                    <input id="selectCheckbox_@i" warning-id="@Html.DisplayFor(modelItem => item.Id)" type="checkbox" name="checkbox" class="form-check-input checkbox_warning" onchange="enableDisableShowSelection()" aria-label="@Html.DisplayNameFor(model => model.Reference) for @Html.DisplayFor(modelItem => item.Reference)" />
                                </td>
                            </tr>
                            <tr id="collapse_@i" class="accordion-collapse @Html.DisplayFor(modelItem => item.WarningType[0]) collapse" data-bs-parent="#accordionAllwarning">
                                <td colspan="5">
                                    <div class="warning-detail">
                                        <section>
                                            <h1 id="Details_WarningType_@i" class="warning-type">
                                                @Html.DisplayFor(modelItem => item.WarningType)
                                            </h1>
                                            <h2 id="Details_Reference_@i" class="warning-reference">
                                                @Html.DisplayFor(modelItem => item.Reference)
                                            </h2>
                                            <h3 id="Details_DateTimeGroupRnwFormat_@i" class="warning-date-time">
                                                @Html.DisplayFor(modelItem => item.DateTimeGroupRnwFormat)
                                            </h3>
                                            <pre id="Details_Description_@i" class="warning-description">
                                                @Html.DisplayFor(modelItem => item.Content)
                                                </pre>
                                        </section>
                                    </div>
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col text-end">
                @using (Html.BeginForm("ShowSelection", "RadioNavigationalWarnings", FormMethod.Post))
                {
                    <input type="hidden" id="showSelectionId" name="showSelectionId" value="">
                    <button disabled="disabled" id="BtnShowSelection" type="submit" onclick="showSelection()">Show selection</button>
                }
            </div>
        </div>
    </div>
}
