@using UKHO.MaritimeSafetyInformation.Common.Models.NoticesToMariners
@model List<ShowFilesResponseModel>
@{
    Layout = "~/Views/Shared/_MSILayout.cshtml";
    ViewData["Header"] = "Notices to Mariners";
    ViewData["Title"] = "Notices to Mariners - Annual";
}
<partial name="_NMHorizontalTab" />
@*<partial name="ShowAnnualNMs" model="@Model" />*@

<h4>
    Annual Summary of ADMIRALTY Notices to Mariners 2022 (NP247)
</h4>
<p>
    To supplement Weekly NMs, the UKHO produces an Annual Summary of Notices to Mariners (NP247). This publication contains the Annual Statutory Notices to Mariners Numbers 1-26, a summary of Temporary and Preliminary Notices to Mariners still in force at the start of the year, and a Cumulative Summary of Amendments to ADMIRALTY Sailing Directions.
</p>
<p>
    The paper version of the Annual Summary of Notices to Mariners is published annually in January, and copies are available by subscription from ADMIRALTY Chart Agents. To access the Annual Summary online, click on the links below.
</p>
<h4>
    Annual Notice to Mariners 1-26, 2022
</h4>
<p>
    This includes how to find sections which have now been moved into 'The Mariners Handbook'.
</p>
<div class="row">
    <div class="col">
        <div class="table-responsive" id="divAnnualNMs">
            @*<table width="100%">
                <thead>
                <tr>
                <th width="15%">Section</th>
                <th width="55%">File name</th>
                <th width="20%">File size</th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <td>---</td>
                <td><a href="~/nms/annual/Title_and_Index_2022.pdf" target="_blank">An overview of each of the 26 sections</a></td>
                <td>201 KB (pdf)</td>
                <td><a href="~/nms/annual/Title_and_Index_2022.pdf" target="_blank">Download</a></td>
                </tr>
                <tr>
                <td>1</td>
                <td><a href="~/nms/annual/01.pdf" target="_blank">ADMIRALTY Tide Tables 2022 — General Information</a></td>
                <td>131 KB (pdf)</td>
                <td><a href="~/nms/annual/01.pdf" target="_blank">Download</a></td>
                </tr>
                <tr>
                <td>2</td>
                <td><a href="~/nms/annual/02.pdf" target="_blank">Suppliers of ADMIRALTY Charts and Publications</a></td>
                <td>219 KB (pdf)</td>
                <td><a href="~/nms/annual/02.pdf" target="_blank">Download</a></td>
                </tr>
                <tr>
                <td>3</td>
                <td><a href="~/nms/annual/03.pdf" target="_blank">Safety of British merchant ships in periods of peace, tension or conflict</a></td>
                <td>431 KB (pdf)</td>
                <td><a href="~/nms/annual/03.pdf" target="_blank">Download</a></td>
                </tr>
                <tr>
                <td>5</td>
                <td><a href="~/nms/annual/05.pdf" target="_blank">Firing Practice and Exercise Areas</a></td>
                <td>241 KB (pdf)</td>
                <td><a href="~/nms/annual/05.pdf" target="_blank">Download</a></td>
                </tr>
                <tr>
                <td>10</td>
                <td><a href="~/nms/annual/10.pdf" target="_blank">Mine-Laying and Mine Countermeasures Exercises - Waters around the British Isles</a></td>
                <td>455 KB (pdf)</td>
                <td><a href="~/nms/annual/10.pdf" target="_blank">Download</a></td>
                </tr>
                <tr>
                <td>12</td>
                <td><a href="~/nms/annual/12.pdf" target="_blank">National Claims to Maritime Jurisdiction</a></td>
                <td>457 KB (pdf)</td>
                <td><a href="~/nms/annual/12.pdf" target="_blank">Download</a></td>
                </tr>
                <tr>
                <td>19</td>
                <td><a href="~/nms/annual/19.pdf" target="_blank">Global Navigational Satellite System Positions, Horizontal Datums and Position Shifts</a></td>
                <td>328 KB (pdf)</td>
                <td><a href="~/nms/annual/19.pdf" target="_blank">Download</a></td>
                </tr>
                <tr>
                <td>20</td>
                <td><a href="~/nms/annual/20.pdf" target="_blank">Mandatory Expanded Inspections - EU Directive 2009/16/EC</a></td>
                <td>143 KB (pdf)</td>
                <td><a href="~/nms/annual/20.pdf" target="_blank">Download</a></td>
                </tr>
                <tr>
                <td>21</td>
                <td><a href="~/nms/annual/21.pdf" target="_blank">Canadian Charts and Nautical Publications Regulations</a></td>
                <td>217 KB (pdf)</td>
                <td><a href="~/nms/annual/21.pdf" target="_blank">Download</a></td>
                </tr>
                <tr>
                <td>22</td>
                <td><a href="~/nms/annual/22.pdf" target="_blank">US Navigation Safety Regulations Relating to Navigation, Charts and Publications</a></td>
                <td>217 KB (pdf)</td>
                <td><a href="~/nms/annual/22.pdf" target="_blank">Download</a></td>
                </tr>
                <tr>
                <td>23</td>
                <td><a href="~/nms/annual/23.pdf" target="_blank">High Speed Craft</a></td>
                <td>133 KB (pdf)</td>
                <td><a href="~/nms/annual/23.pdf" target="_blank">Download</a></td>
                </tr>
                <tr>
                <td>26</td>
                <td><a href="~/nms/annual/26.pdf" target="_blank">Marine Environmental High Risk Areas</a></td>
                <td>141 KB (pdf)</td>
                <td><a href="~/nms/annual/26.pdf" target="_blank">Download</a></td>
                </tr>
                <tr>
                <td>---</td>
                <td><a href="~/nms/annual/TP_2022.pdf" target="_blank">T&amp;P 2022</a></td>
                <td>6,776 KB (pdf)</td>
                <td><a href="~/nms/annual/TP_2022.pdf" target="_blank">Download</a></td>
                </tr>
                <tr>
                <td>---</td>
                <td><a href="~/nms/annual/Amends_to_SDs_2022.pdf" target="_blank">Amends to SDs</a></td>
                <td>3,590 KB (pdf)</td>
                <td><a href="~/nms/annual/Amends_to_SDs_2022.pdf" target="_blank">Download</a></td>
                </tr>
                </tbody>
                </table>*@

            <table width="100%">
                <thead>
                    <tr>
                        <th width="15%">Section</th>
                        <th width="55%">File name</th>
                        <th width="20%">File size</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@i</td>
                            <td class="td-3 justify-content-center" id="FileName_@i">
                                <a target="_blank" aria-label="Download File for @Model[i].FileDescription. opens in new tab" href="@Url.Action("DownloadFile", "NoticesToMariners", new { fileName = @Model[i].Filename, batchId = @Model[i].BatchId, mimeType = @Model[i].MimeType, frequency ="Annual" })">@Model[i].FileDescription</a>
                            </td>
                            <td id="filesize_@i">@Model[i].FileSizeinKB (@Model[i].FileExtension)</td>
                            <td class="td-3 justify-content-center" id="download_@i">
                                <a target="_blank" aria-label="Download File for @Model[i].FileDescription. opens in new tab" href="@Url.Action("DownloadFile", "NoticesToMariners", new { fileName = @Model[i].Filename, batchId = @Model[i].BatchId, mimeType = @Model[i].MimeType, frequency ="Annual" })">Download</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
