@using UKHO.MaritimeSafetyInformation.Common.Models.NoticesToMariners
@model List<ShowFilesResponseModel>
@{
    Layout = "~/Views/Shared/_MSILayout.cshtml";
    ViewData["Header"] = "Notices to Mariners";
    ViewData["Title"] = "Notices to Mariners - Annual";
}
<partial name="_NMHorizontalTab" />
<h2>
    Annual Summary of ADMIRALTY Notices to Mariners 2022 (NP247)
</h2>
<p>
    To supplement Weekly NMs, the UKHO produces an Annual Summary of Notices to Mariners (NP247). This publication contains the Annual Statutory Notices to Mariners Numbers 1-26, a summary of Temporary and Preliminary Notices to Mariners still in force at the start of the year, and a Cumulative Summary of Amendments to ADMIRALTY Sailing Directions. The paper version of the Annual Summary of Notices to Mariners is published annually in January, and copies are available by subscription from ADMIRALTY Chart Agents.
</p>
<div class="row">
    <div class="col">
        <div class="table-responsive" id="divAnnualNMs">
            <table class="table table-scroll small-first-col notice-to-mariners-annual-table">
                <thead>
                    <tr>
                        <th class="th-1">Section</th>
                        <th>File name</th>
                        <th class="th-3">File size</th>
                        <th class="th-4"><span class="visually-hidden">Action</span></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td class="td-1" id="section_@i">@Model[i].Hash</td>
                            <td id="filename_@i">
                                <a target="_blank" aria-label="Download File for @Model[i].FileDescription. opens in new tab" href="@Url.Action("DownloadFile", "NoticesToMariners", new { fileName = @Model[i].Filename, batchId = @Model[i].BatchId, mimeType = @Model[i].MimeType, frequency ="Annual" })">@Model[i].FileDescription</a>
                            </td>
                            <td class="td-3" id="filesize_@i">@Model[i].FileSizeinKB (@Model[i].FileExtension)</td>
                            <td class="td-4 justify-content-center" id="download_@i">
                                <a target="_blank" aria-label="Download File for @Model[i].FileDescription. opens in new tab" href="@Url.Action("DownloadFile", "NoticesToMariners", new { fileName = @Model[i].Filename, batchId = @Model[i].BatchId, mimeType = @Model[i].MimeType, frequency ="Annual" })">Download</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
