@using UKHO.MaritimeSafetyInformation.Common.Models.NoticesToMariners
@model ShowNMFilesResponseModel
@{
    List<ShowFilesResponseModel> showFilesResponseModel = Model.ShowFilesResponseModel;
    Layout = "~/Views/Shared/_MSILayout.cshtml";
    ViewData["Header"] = "Notices to Mariners";
    ViewData["Title"] = "Notices to Mariners - Cumulative";
}
<partial name="_NMHorizontalTab" />
<p>
    The Cumulative List of ADMIRALTY Notices to Mariners (NP234 A/B) can help you to identify outstanding NMs and audit trails for a particular chart or charts. The list is published annually, with Part A in January and Part B in July.
</p>
<p>
    The Cumulative List of ADMIRALTY Notices to Mariners is available without subscription from ADMIRALTY Chart Agents. You can view it by clicking on the links below.
</p>
<div class="row">
    <div class="col">
        <div class="table-responsive" id="divCumulativeNMs">
                <input type="hidden" id="IsCumulativeBatchResponseCached" value= @Model.IsBatchResponseCached />
            <table class="table table-scroll small-first-col notice-to-mariners-cumulative-table">
                <thead>
                    <tr>
                        <th>File name</th>
                        <th>File size</th>
                        <th class="th-3"><span class="visually-hidden">Action</span></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < showFilesResponseModel.Count; i++)
                    {
                        <tr>
                             <td class="td-3 justify-content-center" id="FileName_@i">
                                <a target="_blank" aria-label="Download File for @showFilesResponseModel[i].FileDescription. opens in new tab" href="@Url.Action("DownloadFile", "NoticesToMariners", new { fileName = @showFilesResponseModel[i].Filename, batchId = @showFilesResponseModel[i].BatchId, mimeType = @showFilesResponseModel[i].MimeType, frequency ="Cumulative" })">@showFilesResponseModel[i].FileDescription</a>
                            </td>
                            <td id="filesize_@i">@showFilesResponseModel[i].FileSizeinKB (@showFilesResponseModel[i].FileExtension)</td>
                            <td class="td-3 justify-content-center" id="download_@i">
                                <a target="_blank" aria-label="Download File for @showFilesResponseModel[i].FileDescription. opens in new tab" href="@Url.Action("DownloadFile", "NoticesToMariners", new { fileName = @showFilesResponseModel[i].Filename, batchId = @showFilesResponseModel[i].BatchId, mimeType = @showFilesResponseModel[i].MimeType, frequency ="Cumulative" })">Download</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
