@using UKHO.MaritimeSafetyInformation.Common.Models.NoticesToMariners
@model ShowWeeklyFilesResponseModel
@{
    Layout = "~/Views/Shared/_MSILayout.cshtml";
}

@section Scripts
    {
<script type="text/javascript" src="@Url.Content("~/js/Custom/NoticesToMariners.js")"></script>
    }
@{
    ViewData["Header"] = "Notice to Mariners";
}
<!--tabs-->
<ul class="nav nav-tabs msi-tabs" id="nmTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="weekly-tab" data-bs-toggle="tab" data-bs-target="#weekly" type="button" role="tab" aria-controls="weekly" aria-selected="true">Weekly</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="daily-tab" data-bs-toggle="tab" data-bs-target="#daily" type="button" role="tab" aria-controls="daily" aria-selected="false" tabindex="-1">Daily</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="cumulative-tab" data-bs-toggle="tab" data-bs-target="#cumulative" type="button" role="tab" aria-controls="cumulative" aria-selected="false" tabindex="-1">Cumulative</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="annual-tab" data-bs-toggle="tab" data-bs-target="#annual" type="button" role="tab" aria-controls="annual" aria-selected="false" tabindex="-1">Annual</button>
    </li>
</ul>
<div class="tab-content" id="nmTabContent">
    <div class="tab-pane fade show active" id="weekly" role="tabpanel" aria-labelledby="weekly-tab">
        <input type="hidden" id="hdnRequestType" value="Weekly" />
        @using (Html.BeginForm("Index", "NoticestoMariners", FormMethod.Post))
        {
            <div class="row mb-3">
                <div class="col-md-3 mb-3">
                    <label for="ddlYears" class="form-label">Select Year</label>
                    @Html.DropDownList("year", @Model.Years, new { onchange = "YearValueChange(this);this.form.submit();",@class = "form-control" })
                </div>

                <div class="col-md-3 mb-3">
                    <label for="ddlWeeks" class="form-label">Select Week</label>
                    @Html.DropDownList("week", @Model.Weeks,new { onchange = "this.form.submit();",@class = "form-control" })
                </div>
            </div>
        }
        <div class="row">
            <div class="col">
                @if (@Model != null && @Model.ShowFilesResponseModel != null)
                {
                    <partial name="ShowWeeklyFilesList" model="@Model.ShowFilesResponseModel" />
                }
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="daily" role="tabpanel" aria-labelledby="daily-tab">
        <div class="table-responsive-md" id="divDailyFilesList">
        </div>
    </div>
    <div class="tab-pane fade" id="cumulative" role="tabpanel" aria-labelledby="cumulative-tab">Cumulative </div>
    <div class="tab-pane fade" id="annual" role="tabpanel" aria-labelledby="annual-tab">Annual </div>
</div>