@using UKHO.MaritimeSafetyInformation.Common.Models.NoticesToMariners
@model ShowWeeklyFilesResponseModel
@{
	Layout = "~/Views/Shared/_MSILayout.cshtml";
	ViewData["Header"] = "Notices to Mariners";
	ViewData["Title"] = "Notices to Mariners - Weekly";
}

@section Scripts
{
	<script type="text/javascript" src="@Url.Content("~/js/Custom/NoticesToMariners.js")"></script>
}

@{
	var partnerList = ViewBag.HasError ? new List<ShowFilesResponseModel>() : Model.ShowFilesResponseList.Where(x => x.IsDistributorUser.Equals(true)).ToList();
	var publicList = ViewBag.HasError ? new List<ShowFilesResponseModel>() : Model.ShowFilesResponseList.Where(x => x.IsDistributorUser.Equals(false)).ToList();
}

<!--tabs-->
<partial name="_NMHorizontalTab" />

<div class="tab-content" id="nmTabContent">

	<input type="hidden" id="IsYearAndWeekAttributesCached" value="@Model.IsYearAndWeekAttributesCached" />
	<input type="hidden" id="IsWeeklyBatchResponseCached" value="@Model.IsWeeklyBatchResponseCached" />

	<div class="tab-pane fade show active" id="weekly" role="tabpanel">
		@using (Html.BeginForm("Index", "NoticestoMariners", FormMethod.Post))
		{
			<input type="hidden" id="hdnRequestType" value="Weekly" />
			<input type="hidden" id="hdnYear" value="@ViewData["Year"]" />
			<input type="hidden" id="hdnWeek" value="@ViewData["Week"]" />
			<div class="row mb-3">
				<div class="col-md-3 mb-3">
					<label for="ddlYears" class="form-label">Select year</label>
					<select class="form-select" id="ddlYears" name="year">
						<option selected>Select year</option>
					</select>
				</div>

				<div class="col-md-3 mb-3">
					<label for="ddlWeeks" class="form-label">Select week</label>
					<select class="form-select" id="ddlWeeks" name="week">
						<option selected>Select week</option>
					</select>
				</div>
			</div>
		}
		<div class="row">
			<div class="col">
				@if (Model != null && Model.ShowFilesResponseList != null && !ViewBag.HasError)
				{
					@if (ViewBag.IsDistributor)
					{
						{ ViewBag.TableTitle = "Partner"; }
						<partial name="ShowWeeklyFilesList" model="@partnerList" />
						{ ViewBag.TableTitle = "Public"; }
					}
					<partial name="ShowWeeklyFilesList" model="@publicList" />
				}
				else
				{
					<partial name="_Error" />
				}
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" nws-csp-add-nonce="true">
	var serverData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.YearAndWeekList));
	window.onload = function () {
		LoadData(serverData);
	}
</script>
