@using UKHO.MaritimeSafetyInformation.Common.Models.NoticesToMariners
@model ShowWeeklyFilesResponseModel
@{
    Layout = "~/Views/Shared/_MSILayout.cshtml";
    ViewData["Header"] = "Notices to Mariners";
    ViewData["Title"] = "Notices to Mariners - Weekly";
}

@section Scripts
    {
<script type="text/javascript" src="@Url.Content("~/js/Custom/NoticesToMariners.js")"></script>
    }

<!--tabs-->
<partial name="_NMHorizontalTab" />

<div class="tab-content" id="nmTabContent">
    <div class="tab-pane fade show active" id="weekly" role="tabpanel" >
        @if (@ViewBag.IsDistributor)
        {
            <div id="NMInfo" class="alert alert-primary p-4" role="alert">
                <i class="bi bi-exclamation-circle-fill" aria-hidden="true"></i>
                <div class="alert-head">Temporary Notice</div>
                <p>
                    Distributors must temporarily obtain NM tracings files from the Distributor FTP.
                    <a href="~/nms/tracings/FTP Tracings Guide.pdf" target="_blank">More information</a>
                </p>
            </div>
        }
        @using (Html.BeginForm("Index", "NoticestoMariners", FormMethod.Post))
        {
            <input type="hidden" id="hdnRequestType" value="Weekly" />
            <input type="hidden" id="hdnYear" value="@ViewData["Year"]" />
            <input type="hidden" id="hdnWeek" value="@ViewData["Week"]" />
            <div class="row mb-3">
                <div class="col-md-3 mb-3">
                    <label for="ddlYears" class="form-label">Select year</label>
                    <select class="form-select" id="ddlYears" name="year">
                        <option selected>Select year</option>
                    </select>
                </div>

                <div class="col-md-3 mb-3">
                    <label for="ddlWeeks" class="form-label">Select week</label>
                    <select class="form-select" id="ddlWeeks" name="week">
                        <option selected>Select week</option>
                    </select>
                </div>
            </div>
        }
        <div class="row">
            <div class="col">
                @if (@Model != null && @Model.ShowFilesResponseList != null)
                {
                    <partial name="ShowWeeklyFilesList" model="@Model.ShowFilesResponseList" />
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var serverData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model.YearAndWeekList));
    window.onload = function () {
        LoadData(serverData);
    }
</script>
