@using UKHO.MaritimeSafetyInformation.Common.Models.NoticesToMariners
@model ShowWeeklyFilesResponseModel
@{
    Layout = "~/Views/Shared/_MSILayout.cshtml";
}

@section Scripts
    {
<script type="text/javascript" src="@Url.Content("~/js/Custom/NoticesToMariners.js")"></script>
    }
@{
    ViewData["Header"] = "Notice to Mariners";
}
<!--tabs-->
<ul class="nav nav-tabs msi-tabs" id="nmTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="weekly-tab" data-bs-toggle="tab" data-bs-target="#weekly" type="button" role="tab" aria-controls="weekly" aria-selected="true">Weekly</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="daily-tab" data-bs-toggle="tab" data-bs-target="#daily" type="button" role="tab" aria-controls="daily" aria-selected="false" tabindex="-1">Daily</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="cumulative-tab" data-bs-toggle="tab" data-bs-target="#cumulative" type="button" role="tab" aria-controls="cumulative" aria-selected="false" tabindex="-1">Cumulative</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="annual-tab" data-bs-toggle="tab" data-bs-target="#annual" type="button" role="tab" aria-controls="annual" aria-selected="false" tabindex="-1">Annual</button>
    </li>
</ul>
<div class="tab-content" id="nmTabContent">
    <div class="tab-pane fade show active" id="weekly" role="tabpanel" aria-labelledby="weekly-tab">

        @using (Html.BeginForm("Index", "NoticestoMariners", FormMethod.Post))
        {
            <input type="hidden" id="hdnYear" value="@ViewData["Year"]" />
            <input type="hidden" id="hdnWeek" value="@ViewData["Week"]" />
            <div class="row mb-3">
                <div class="col-md-3 mb-3">
                    <label for="ddlYears" class="form-label">Select year</label>
                    <select class="form-select" id="ddlYears" name="year">
                        <option selected>Select year</option>
                    </select>
                </div>

                <div class="col-md-3 mb-3">
                    <label for="ddlWeeks" class="form-label">Select week</label>
                    <select class="form-select" id="ddlWeeks" name="week">
                        <option selected>Select week</option>
                    </select>
                </div>
            </div>
        }
        <div class="row">
            <div class="col">
                @if (@Model != null && @Model.ShowFilesResponseModel != null)
                {
                    <partial name="ShowWeeklyFilesList" model="@Model.ShowFilesResponseModel" />
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var serverData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model.YearAndWeek));
    window.onload = function () {
        LoadData(serverData);
    }
</script>
