@using UKHO.MaritimeSafetyInformation.Common.Models.NoticesToMariners
@model List<ShowFilesResponseModel>
@{
    Layout = "~/Views/Shared/_MSILayout.cshtml";
    ViewData["Header"] = "Leisure Folios";
    ViewData["Title"] = "Notices to Mariners - Leisure";
}
<h2>
    ADMIRALTY  Notices to Mariners for ADMIRALTY Leisure Folios
</h2>
<p>
    Here you will find all relevant ADMIRALTY Notices to Mariners (NMs) released since the publication date of the chart within the leisure range's New Edition. This service is updated weekly and aims to provide you with the best information available to help you navigate safely and effectively. You can be assured that with ADMIRALTY charts you are using the best; they are recognised official standard and trusted worldwide. We pride ourselves on the quality and integrity of our data - no one else promulgates information as well or as quickly as we do. For further information, guidance notes including the printing of blocks, please <a href="~/nms/leisure/Keeping ADMIRALTY Leisure Charts up-to-date.pdf" aria-label="Click here for Further Information" target="_blank">click here</a>.
</p>

<div class="alert alert-primary p-4">
    <i class="bi bi-exclamation-circle-fill" aria-hidden="true"></i>
    <h3 class="alert-head">
        Important safety notice
    </h3>
    <p>
        Unfortunately week 13 Notices to Mariners were not added to the corrections published for ADMIRALTY Leisure Folios in that week. The correct information was published on 14 May 2020. Therefore, if you updated your ADMIRALTY Leisure Folios between 19 March and 14 May 2020, you may have missed these corrections.
    </p>
    <p>
        These Notices have now been added to the files below. If you updated between the dates above, pleased check the files for NMs in the range L1537/20 to L1675/20 and apply them to your Folios if necessary. We apologise for any inconvenience caused.
    </p>
</div>

<div class="row">
    <div class="col">
        <div class="table-responsive" id="divCumulativeNMs">
            <table width="100%">
                <thead>
                    <tr>
                        <th width="60%">File name</th>
                        <th width="30%">File size</th>
                        <th class="th-3"><span class="visually-hidden">Action</span></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td id="filename_@i"><a target="_blank" aria-label="@Model[i].FileDescription. On enter Pdf Link open new tab" href="@Url.Action("DownloadFile", "NoticesToMariners", new { fileName = @Model[i].Filename, batchId = @Model[i].BatchId, mimeType = @Model[i].MimeType })">@Model[i].FileDescription</a></td>
                            <td id="filesize_@i">@Model[i].FileSizeinKB (@Model[i].FileExtension)</td>
                            <td class="td-3 justify-content-center" id="download_@i">
                                <a target="_blank" aria-label="Download File for @Model[i].FileDescription. Link open new tab" href="@Url.Action("DownloadFile", "NoticesToMariners", new { fileName = @Model[i].Filename, batchId = @Model[i].BatchId, mimeType = @Model[i].MimeType })">Download</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
