@using UKHO.MaritimeSafetyInformation.Common.Models.NoticesToMariners

@model List<ShowDailyFilesResponseModel>
<div class="container-fluid">
    <div class="table-responsive-sm">
        @if (Model != null && Model.Count > 0)
        {
            @for (int i = 0; i < Model.Count; i++)
            {
                <table class="table table-scroll small-first-col notice-to-mariners-weekly-table">
                    <caption id="caption_@i">@Model[i].Year, Week @Model[i].WeekNumber</caption>
                    <thead>
                        <tr>
                            <th scope="col">File name</th>
                            <th scope="col">File size</th>
                        </tr>
                    </thead>
                    <tbody class="scroll-content scroll-bar">
                        @for (int j = 0; j < Model[i].DailyFilesData.Count; j++)
                        {
                            <tr>
                                <td id="filename_@j">@Model[i].DailyFilesData[j].FileDescription</td>
                                <td id="filesize_@j">@Model[i].DailyFilesData[j].FileSizeInKB (@Model[i].DailyFilesData[j].FileExtension)</td>
                                <td class="td-3 justify-content-center" id="download_@j">
                                    <a target="_blank" href="@Url.Action("DownloadFile", "NoticesToMariners", new { fileName = @Model[i].DailyFilesData[j].Filename, batchId = @Model[i].DailyFilesData[j].BatchId, mimeType = @Model[i].DailyFilesData[j].MimeType })">Download</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
        else
        {
            <p>No data found!!!</p>
        }

    </div>
</div>
