@using UKHO.MaritimeSafetyInformation.Common.Models

@model List<ShowDailyFilesResponseModel>
<div class="container-fluid">
    <div class="table-responsive-sm">
        @foreach(var item in Model)
        {
            <table class="table caption-top table-striped">
            <caption>@item.Year, Week @item.WeekNumber</caption>
            <thead>
                <tr>
                    <th scope="col">File name</th>
                    <th scope="col">File size</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var file in item.DailyFilesData)
                {
                <tr>
                    <td><a href="#">@file.FileDescription</a></td>
                    <td>@file.FileSizeinKB (@file.FileExtension)</td>
                </tr>
                }
            </tbody>
        </table>
        }

    </div>
</div>

