@using UKHO.MaritimeSafetyInformation.Common.Models.NoticesToMariners
@model List<ShowFilesResponseModel>

@if (ViewBag.IsDistributor)
{
    <caption class="table-caption">@ViewBag.TableTitle</caption>
}
<table class="table table-scroll small-first-col notice-to-mariners-weekly-table">
    <caption class="hidden-caption">Notices to Mariners Weekly Updates</caption>

    <thead>
        <tr>
            <th>File Name</th>
            <th>File Size</th>
            <th class="th-3">
                <span class="visually-hidden">Action</span>
                @if (ViewBag.IsDistributor)
                {
                    @if (ViewBag.TableTitle == "Partner")
                    {
                        @if (Model != null && Model.Count > 0)
                        {
                            <a id="downloadPartner" href="@Url.Action("DownloadAllWeeklyFile", "NoticesToMariners", new { fileName = @ViewData["Year"] + " Wk " + @ViewData["Week"] + " Weekly NMs.zip", batchId = @Model[0].BatchId, mimeType = "application/gzip", type = "partner" })">Download Partner</a>
                        }
                    }
                    else
                    {
                        @if (Model != null && Model.Count > 0)
                        {
                            <a id="downloadAll" href="@Url.Action("DownloadAllWeeklyFile", "NoticesToMariners", new { fileName = @ViewData["Year"] + " Wk " + @ViewData["Week"] + " Weekly NMs.zip", batchId = @Model[0].BatchId, mimeType = "application/gzip", type = "public" })">Download All</a>
                        }
                    }
                }
                else
                {
                    @if (Model != null && Model.Count > 0)
                    {
                        <a id="downloadAll" href="@Url.Action("DownloadAllWeeklyFile", "NoticesToMariners", new { fileName = @ViewData["Year"] + " Wk " + @ViewData["Week"] +" Weekly NMs.zip", batchId = @Model[0].BatchId, mimeType = "application/gzip", type = "public" })">Download All</a>
                    }
                }
            </th>
        </tr>
    </thead>

    <tbody class="scroll-content scroll-bar">
        @if (Model != null && Model.Count > 0)
        {
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td id="filename_@i">@Model[i].FileDescription</td>
                    <td id="filesize_@i">@Model[i].FileSizeinKB (@Model[i].FileExtension)</td>
                    <td class="td-3 justify-content-center" id="download_@i">
                        <a target="_blank" aria-label="Download File for @Model[i].FileDescription. Link open new tab" href="@Url.Action("DownloadFile", "NoticesToMariners", new { fileName = @Model[i].Filename, batchId = @Model[i].BatchId, mimeType = @Model[i].MimeType, frequency = "Weekly" })">Download</a>
                        @if (@Model[i].IsDistributorUser)
                        {
                            <label id="partner_@i" class="hidden-caption">Partner</label>
                        }
                        else
                        {
                            <label id="public_@i" class="hidden-caption">Public</label>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            @if (ViewBag.IsDistributor)
            {
                @if (ViewBag.TableTitle == "Partner")
                {
                    <tr>
                        <td colspan="3">No Tracings available for Partner for selected year and week</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="3">No files available for Public for selected year and week</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

