@using UKHO.FileShareClient.Models
@model List<ShowFilesResponseModel>
@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/js/Custom/NoticesToMariners.js")"></script>
}

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-lg-2">Select period</div>

        <label for="ddlYears" class="col-md-2 col-form-label text-start text-lg-end">Year</label>
        <div class="col-lg-3 col-md-4">
            <select class="form-select" id="ddlYears">
                <option selected>Please select year</option>
            </select>
        </div>

        <label for="ddlWeeks" class="col-md-2 col-form-label text-start text-lg-end">Week</label>
        <div class="col-lg-3 col-md-4">
            <select class="form-select" id="ddlWeeks">
                <option selected>Please select week</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        @if (Model != null && Model.Count > 0)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><a href="@item.Links.Get.Href">@item.FileDescription</a></td>
                                    <td>@item.FileSizeinKB (@item.FileExtension)</td>
                                    <td></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan='3'>No data found!!!</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
