@using UKHO.MaritimeSafetyInformation.Common.Models.RadioNavigationalWarning
@model RadioNavigationalWarningsAdminListFilter

@{
    ViewData["Title"] = "Radio Navigational Warnings List";
}
<style>
    .disabled-link {
        pointer-events: none;
    }

    .enabled-link {
        pointer-events: auto;
    }
</style>
<div class="container- fluid">
    <div>
        <h1>Radio Navigational Warnings List</h1>
    </div>

    <div>
        <p>
            <a asp-action="Create" class="disabled-link">Create NewRadio Navigational Warning</a>
        </p>
    </div>
    <div>
        @Html.DropDownListFor(model => model.WarningType,ViewBag.WarningTypes as SelectList,"--Select Warning Type--", new { @class = "form-control", @onchange="WarningTypeValueChange(this)"} )
    </div>
    <div>
        @Html.DropDownListFor(model => model.Year,ViewBag.Years as SelectList,"--Select Year--",  new { @class = "form-control", @onchange="YearValueChange(this)"} )
    </div>
    <div>
        <button type="button" class="btn btn-dark" onclick="RnwFilterList(1)">Filter</button>
    </div>

    @if (Model.RadioNavigationalWarningsAdminList.Count != 0 && Model.RadioNavigationalWarningsAdminList != null)
    {
        <div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Sr No.
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RadioNavigationalWarningsAdminList.FirstOrDefault().WarningTypeName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RadioNavigationalWarningsAdminList.FirstOrDefault().Reference)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RadioNavigationalWarningsAdminList.FirstOrDefault().DateTimeGroup)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RadioNavigationalWarningsAdminList.FirstOrDefault().Summary)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RadioNavigationalWarningsAdminList.FirstOrDefault().Content)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RadioNavigationalWarningsAdminList.FirstOrDefault().ExpiryDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RadioNavigationalWarningsAdminList.FirstOrDefault().IsDeleted)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.RadioNavigationalWarningsAdminList)
                        {
                            ++@Model.SrNo;
                            <tr>
                                <td>
                                    @Model.SrNo.ToString()
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WarningTypeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Reference)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateTimeGroup)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Summary)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Content)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExpiryDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsDeleted)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="disabled-link">Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" onclick="RnwFilterList(1)">First</a></li>
                    <li class="page-item"><a class="@(Model.CurrentPageIndex==1 ? "page-link disabled-link" : "page-link enabled-link")" onclick="RnwFilterList(@Model.CurrentPageIndex-1)" >Previous</a></li>
                    <li class="page-item"><a class="@(Model.CurrentPageIndex==Model.PageCount ? "page-link disabled-link" : "page-link enabled-link")" onclick="RnwFilterList(@Model.CurrentPageIndex+1)">Next</a></li>
                    <li class="page-item"><a class="page-link" onclick="RnwFilterList(@Model.PageCount)">Last</a></li>
                </ul>
                <div>
                    Page @Model.CurrentPageIndex of @Model.PageCount
                </div>
            </div>
        </div>
    }
    else
    {
        <div>
              <h4>No Record Found.</h4>
        </div>
    }

</div>