@using UKHO.MaritimeSafetyInformation.Common.Models.RadioNavigationalWarning
@model RadioNavigationalWarningsAdminFilter

@{
    bool isFirstPage = Model.CurrentPageIndex == 1;
    bool isLastPage = Model.CurrentPageIndex == Model.PageCount;
    ViewData["Title"] = "Radio Navigational Warnings Admin List";
}
<div class="container-fluid">
    <h1>Radio Navigational Warnings Admin List</h1>
    <div class="row">
        <div class="col-md-auto mb-3">
            <label class="form-label">Warning Type</label>
            @Html.DropDownListFor(model => model.WarningType,ViewBag.WarningTypes as SelectList,"Select Warning Type", new { @class = "form-select", @onchange="WarningTypeValueChange(this)"} )
        </div>
        <div class="col-md-auto mb-3">
            <label class="form-label">Year</label>
            @Html.DropDownListFor(model => model.Year,ViewBag.Years as SelectList,"Select Year",  new { @class = "form-select", @onchange="YearValueChange(this)"} )
        </div>
        <div class="col-md-auto mb-3">
            <button id="BtnFilter" type="button" class="primary inline-btn" onclick="RnwFilterList(1)">Filter</button>
        </div>
        <div class="col mb-3">
            @Html.ActionLink("Create New Warning","Create","RadioNavigationalWarningsAdmin",null,new { @class= "inline-link" ,@id="BtnCreate"})
        </div>
    </div>

    @if (Model.RadioNavigationalWarningsAdminList.Count != 0 && Model.RadioNavigationalWarningsAdminList != null)
    {

        <div class="table-responsive-md">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Sr No.
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RadioNavigationalWarningsAdminList.FirstOrDefault().WarningTypeName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RadioNavigationalWarningsAdminList.FirstOrDefault().Reference)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RadioNavigationalWarningsAdminList.FirstOrDefault().DateTimeGroupRnwFormat)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RadioNavigationalWarningsAdminList.FirstOrDefault().Summary)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RadioNavigationalWarningsAdminList.FirstOrDefault().Content)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RadioNavigationalWarningsAdminList.FirstOrDefault().ExpiryDateRnwFormat)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RadioNavigationalWarningsAdminList.FirstOrDefault().IsDeleted)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.RadioNavigationalWarningsAdminList)
                    {
                        ++@Model.SrNo;
                        <tr>
                            <td id="SrNo">
                                @Model.SrNo.ToString()
                            </td>
                            <td id="WarningTypeName">
                                @Html.DisplayFor(modelItem => item.WarningTypeName)
                            </td>
                            <td id="Reference">
                                @Html.DisplayFor(modelItem => item.Reference)
                            </td>
                            <td id="DateTimeGroupRnwFormat">
                                @Html.DisplayFor(modelItem => item.DateTimeGroupRnwFormat)
                            </td>
                            <td id="Summary">
                                @Html.DisplayFor(modelItem => item.Summary)
                            </td>
                            <td id="Content">
                                @Html.DisplayFor(modelItem => item.Content)
                            </td>
                            <td id="ExpiryDateRnwFormat">
                                @Html.DisplayFor(modelItem => item.ExpiryDateRnwFormat)
                            </td>
                            <td id="IsDeleted">
                                @Html.DisplayFor(modelItem => item.IsDeleted)
                            </td>
                            <td id="Edit">
                                <a asp-action="Edit" asp-route-id="@item.Id" id="Edit_@item.Id">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div>
            <ul class="pagination">
                <li class="page-item  @(isFirstPage ? "disabled" : "")"><a id="BtnFirst" class="page-link" tabindex="@(isFirstPage ? "-1" : "0")" onclick="RnwFilterList(1)">First</a></li>
                <li class="page-item  @(isFirstPage ? "disabled" : "")"><a id="BtnPrevious" class="page-link" tabindex="@(isFirstPage ? "-1" : "0")" onclick="RnwFilterList(@Model.CurrentPageIndex-1)">Previous</a></li>
                <li class="page-item  @(isLastPage  ? "disabled" : "")"><a id="BtnNext" class="page-link" tabindex="@(isLastPage  ? "-1" : "0")" onclick="RnwFilterList(@Model.CurrentPageIndex+1)">Next</a></li>
                <li class="page-item  @(isLastPage  ? "disabled" : "")"><a id="BtnLast" class="page-link" tabindex="@(isLastPage  ? "-1" : "0")" onclick="RnwFilterList(@Model.PageCount)">Last</a></li>
            </ul>
            <div>
                Page @Model.CurrentPageIndex of @Model.PageCount
            </div>
        </div>
    }
    else
    {
        <div id="MsgBoxAlert" class="alert alert-primary p-4" role="alert">
            <i class="bi bi-exclamation-circle-fill" aria-hidden="true"></i>
            <h5>No Record Found.</h5>
        </div>
    }
</div>
